.title {
   text-align: center;
   margin: 6em auto 3em;
   border-bottom: 2px solid #eee; 
   font-style: "omnes-pro", sans-serif; 
   font-size: 4em;
   font-weight: 400; 
}

.toolbar {

}

.keywords {

}

.content {

}

.x-out {

}

.expand-button {

}

.minimize-button {

} 

