body {
    background-image:url('http://www.ommwriter.com/images/bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.omnithinker-menu {
    text-align: center;
}

.hero {
    text-align: center;
    margin: 2em auto 2em auto;
    border-bottom: 2px solid #eee;
}

.hero-titles {
    font-family: "omnes-pro", sans-serif;
    padding: 0 2em;
}

.hero h1 {
    font-size: 4em;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #01A9DB;
}

.hero h2 {
    font-size: 100;
    font-weight: 200;
    color: #848484;
    padding: 0;
    margin-top: 0;
    margin: 0.02em 0 0.8em;

}

.content {
    margin: 0px 200px;
    padding: 0 2em;
    max-width: 1600px;
    margin-bottom: 20px;
    line-height: 1.6em;
    text-align: justify;
    font-family: "omnes-pro", sans-serif;
}

.content-subhead {
    margin: 30px 0 20px 0;
    font-family: "omnes-pro", sans-serif;
    font-weight: 300;
    color: #888;
}

p.p1 {
    font-family: "omnes-pro", sans-serif;
    font-size: 100%;
    font-style: oblique;
}

p.p2 {
    font-family: "omnes-pro", sans-serif;
    font-size: 100%;
    text-align:justify;
}

.pure-g-r marketing-ribbon {
    border-bottom: 2px solid #eee;
    padding: 1em 0;
    font-family: "omnes-pro", sans-serif;
}

.marketing-ribbon .content {
    margin-bottom: 0;
}

.marketing-ribbon h3 {
    font-size: 1.47em;
    font-weight: normal;
    color: #ACACFA;
}

.marketing-ribbon p {
    font-size: 100%;
    line-height: 1.6em;
}

.box {
    margin: 10px;
    text-align: justify;
}

.pure-button {
    font-family: "omnes-pro", sans-serif;
    color: white;
    background: rgb(66, 184, 221);
}

.pure-button:hover {
    background: #2E9AFE;
}

.pure-form {
    text-align: -webkit-center;
}

.img {
    text-align: -webkit-center;
    opacity:0.4;
    filter:alpha(opacity=40);
}
