#textbox
{
    background-color: #DDD;
    width: 100%;
    margin-top: 1em;
    height: 300px;
}

.keyword {
    background-color: yellow;
}

.frameBody {
    font-family: serif;
    font-size: 18px;
    margin: 1em;
}

.rte-toolbar {
    overflow: hidden;
    background-color: #CCC;
    padding: 1em;
}

.rte-toolbar p {
    margin: 0;
}

.tb-button {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #AAA;
    padding: 0.5em;
}

.tb-button:hover {
    color: #555;
}

img {
    vertical-align: middle;
}
