<html>
    <head>
        <title>Ben's Socket Test</title>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/static/omnithinker.js"></script>
    </head>
    <body style="max-width: 1000px; margin: 1em auto 0 auto;">
        <h2>Ben's Socket Test</h2>
        <div style="font-family: monospace;">
            <div id="textbox" contentEditable="true" style="background-color:#DDD; padding: .5em; font-family: sans-serif;"></div>
            <div id="output" style="background-color:#DDD; padding: .5em; margin: 1em 0 1em 0; max-height: 150px; overflow: auto;"></div>
            <div id="options" style="background-color:#DDD; padding: .5em;">
                <input id="sendbox" type="text" />
                <a href="#" id="send">Send</a> &bull;
                <a href="#" id="disconnect">Disconnect</a>
            </div>
        </div>
    </body>
</html>
