<html>
    <head>
        <title>Ben's Socket Test</title>
        <script language="javascript" type="text/javascript">
            var URL = "ws://localhost:8000/socket";
            var output;

            function write(message) {
                var p = document.createElement("p");
                p.innerHTML = message;
                output.appendChild(p);
            }

            function init() {
                var socket = new WebSocket(URL);
                output = document.getElementById("output");

                function send(message) {
                    write("SENT: " + message);
                    socket.send(message);
                }

                socket.onopen = function(event) {
                    write("CONNECTED");
                    send("HELLO");
                };

                socket.onclose = function(evt) {
                    write("DISCONNECTED");
                };

                socket.onmessage = function(evt) {
                    write('<span style="color: blue;">RECEIVED: ' + evt.data + "</span>");
                    if (evt.data == "READY") {
                        send('UPDATE {"title": "Foo"}');
                    }
                    else if (evt.data == "OK") {
                        send("BYE")
                    }
                    else if (evt.data == "GOODBYE") {
                        socket.close();
                    }
                };

                socket.onerror = function(evt) {
                    write('<span style="color: red;">ERROR:</span> ' + evt.data);
                };
            }

            window.addEventListener("load", init, false);
        </script>
    </head>
    <body style="max-width: 1000px; margin: 1em auto 0 auto;">
        <h2>Ben's Socket Test</h2>
        <div id="output" style="font-family: monospace; background-color:#FAFAFA;"></div>
    </body>
</html>
