<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OmniThinker</title>
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/home.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet" href="/static/modal.css">
    </head>
    <body>
        <div class="pure-menu pure-menu-open pure-menu-horizontal omnithinker-menu">
            <a href="/" class="pure-menu-heading">OmniThinker</a>
            <ul>
                <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>

        <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <h1 id="myModalLabel"> Login </h1>
            </div>
            <div class="modal-body">
                <p>Welcome back to OmniThinker! <br> Enter your username and password below to login.</p>
                <form class="pure-form pure-form-stacked">
                    <input id="username" type="text" placeholder="Username">
                    <input id="password" type="password" placeholder="Password">
                </form>
            </div>
            <div class="modal-footer">
                <button class="pure-button pure-button-primary"> Login </button>
                <button class="pure-button" data-dismiss="modal" aria-hidden="true"> Close </button>
            </div>
        </div>

        <div class="hero">
            <div class="hero-titles">
                <img src="/static/thinker_logo.png" alt="thinker logo" width="125"></img>
                <h1>OmniThinker</h1>
                <h2>An interactive way to write or brainstorm for your next writing assignment.</h2>
            </div>
        </div>

        <div class="content">
            <h2 class="content-subhead">What is OmniThinker?</h2>
            <p class="p1">
                “The power to concentrate was the most important thing. Living without this power would be like opening one’s eyes without seeing anything.” <br>―<u>The Elephant Vanishes</u> by Haruki Murakami
            </p>
            <p class="p2">
                Too often in today's world are we distracted from our creativity and productivity by all the white noise around us. To counter this, we've provided you with an isolated and clean space for brainstorming and writing. OmniThinker couples a simple text editor with a toolbar scanning the web for suggestions as you type, opening new pathways to take your original ideas and words. As you type, musical notes will resonate in the background, stimulating more thought and encouraging you to brainstorm and write even further.
            </p>
            <p class="p2">
                Enter the topic or genre of your writing assignment below and we'll start you off right away.
            </p>
            <form class="pure-form">
                <input class="pure-input-2-3" type="text" placeholder="What are you thinking or writing about?">
                <a class="pure-button" type="submit" href="/write">Let's Start</a>
            </form>
        </div>

        <div class="content">
            <h2 class="content-subhead">What do we have to offer?</h2>
            <div class="pure-g-r marketing-ribbon">
                <div class="pure-u-1-3">
                    <div class="box">
                        <h3>Simplicity is Key.</h3>
                        <p>
                            We minimize the number of distractions by providing just what you need when you're writing: a simple text-editor, our brainstorming toolbar, and nothing more.
                        </p>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div class="box">
                        <h3>Work on Multiple Projects.</h3>
                        <p>
                            OmniThinker allows you to save your projects on our database, so you can come back after a long bout of writer's block and everything will be waiting for you. <br> You can export any documents as PDF files to your desktop.
                        </p>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div class="box">
                        <h3>Concentrate with Music.</h3>
                        <p>
                            While you're typing away, we'll play some audio tracks to keep your mind on your work. Each keystroke will correlate to another note of a melody of your choice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
