<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OmniThinker</title>
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/common.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet" href="/static/modal.css">
    </head>
    <body class="home">
        {% include "support/menu.html" %}
        {% include "support/loginModal.html" %}

        <div class="hero">
            <div class="hero-titles">
                <img class="logo" src="/static/thinker_logo.png" alt="thinker logo"></img>
                <h1>OmniThinker</h1>
                <h2>An interactive way to write or brainstorm for your next writing assignment.</h2>
            </div>
        </div>

        <div class="content">
            <h2 class="subhead subhead1">What is OmniThinker?</h2>
            <p class="p1">“The power to concentrate was the most important thing. Living without this power would be like opening one’s eyes without seeing anything.” <br>&mdash; <u>The Elephant Vanishes</u> by Haruki Murakami</p>
            <p class="p2">Too often in today's world are we distracted from our creativity and productivity by all the white noise around us. To counter this, we've provided you with an isolated and clean space for brainstorming and writing. OmniThinker couples a simple text editor with a toolbar scanning the web for suggestions as you type, opening new pathways to take your original ideas and words.</p>
            <p class="p2">Enter the topic or genre of your writing assignment below and we'll start you off right away.</p>
            <form class="pure-form">
                <input class="pure-input-2-3" type="text" placeholder="What are you thinking or writing about?">
                <a class="pure-button" type="submit" href="/write">Let's Start</a>
            </form>
        </div>

        <div class="content">
            <h2 class="subhead subhead1">What do we have to offer?</h2>
            <div class="pure-g-r marketing-ribbon">
                <div class="pure-u-1-3">
                    <div class="box box-left">
                        <h3>Simplicity is Key</h3>
                        <p class="p2">We minimize the number of distractions by providing just what you need: a simple text-editor, our brainstorming toolbar, and nothing more.</p>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div class="box">
                        <h3>Work on Multiple Projects</h3>
                        <p class="p2">OmniThinker saves your projects as you work, so you can come back after a long bout of writer's block and everything will be waiting for you.</p>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div class="box box-right">
                        <h3>Show the World</h3>
                        <p class="p2">You can export any document as a PDF or TXT file to your desktop for printing or easy exchange through email.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
