<!DOCTYPE html>

<head>

  <meta charset="utf-8">

  <title> OmniThinker </title>

  <link rel="stylesheet" href="/static/home.css">
  <link rel="stylesheet" href="/static/pure-min.css">

</head>

<body>

  <div class="hero">
    <div class = "hero-titles">
      <h1> OmniThinker </h1>
      <h2> An interactive way to write or brainstorm for your next writing assignment. </h2>
    </div>
  </div>

  <div class="content">
    <h2 class="content-subhead">What is OmniThinker?</h2>

    <p1>
      “The power to concentrate was the most important thing. Living without this power would be like opening one’s eyes without seeing anything.” ―<u>The Elephant Vanishes</u> by Haruki Murakami
    </p1>
    <br><br>
    <p2>
      Too often in today's world are we distracted from our creativity and productivity by all the white noise around us. To counter this, we've provided you with an isolated and clean space for brainstorming and writing. OmniThinker couples a simple text editor with a toolbar scanning the web for suggestions as you type, opening new pathways to take your original ideas and words. As you type, musical notes will resonate in the background, stimulating more thought and encouraging you to brainstorm and write even further. <br><br>
<!--
  OmniThinker looks to bring you to your "Happy Place," a space where you can write and brainstorm with minimal extraneous distraction. First, think of the one place or environment where you are most happy, pensive, and eager to think. Perhaps you can use these as inspiration:
    </p2>

    <br><br>

    <div class="pure-g-r">
      <div class="pure-u-1-3">
        <img src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
      </div>
      <div class="pure-u-1-3">
        <img src="http://img4.sunset.com/i/2007/07/charleston-mt-m-x.jpg?500:500" alt="Peyto Lake">
      </div>
      <div class="pure-u-1-3">
        <img src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
      </div>
    </div>

    <br><br>

    <p2> --->
      Enter the topic or genre of your writing assignment below and we'll start you off right away. <!--try our best to whisk you away to that place.-->
    </p2>

    <br><br>

    <form class="pure-form">
      <input class="pure-input-2-3" type="text" placeholder="What are you thinking or writing about?">
      <a class="pure-button" type="submit" href="/write">Let's Start</a>
    </form>

  </div>

</body>

</html>
