<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OmniThinker - Projects</title>
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/static/common.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    </head>
    <body class="projects">
        <div class="pure-g">
            <div class="sidebar pure-u">
                <header class="header">
                    <hgroup>
                        <h1 class="sidebar-title">OmniThinker</h1>
                        <h2 class="sidebar-tagline">Your Thoughts</h2>
                    </hgroup>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/write">New Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
            <div class="projects-content">
                <div class="projects-content-inner">
                    <div class="hero projects-hero">
                        <div class="hero-titles">
                            <h1>{{username}}'s Projects</h1>
                        </div>
                    </div>
                    <div class="pure-u-1" align="center">
                        {% if documents %}
                            {% for document in documents %}
                                <section class="post">
                                    <header class="post-header">
                                        {% if document.title %}
                                            <a href="/write/{{document.docid}}" class="post-title">{{document.title}}</a>
                                        {% else %}
                                            <a href="/write/{{document.docid}}" class="post-title empty">Untitled</a>
                                        {% endif %}
                                    </header>
                                    <div class="post-description">
                                        {% if document.summary %}
                                            <p class="post-summary">{{document.summary}}</p>
                                        {% else %}
                                            <p class="post-summary empty">Empty document.</p>
                                        {% endif %}
                                    </div>
                                </section>
                            {% endfor %}
                        {% else %}
                            <form class="pure-form projects-form" action="/write" method="post">
                                <p>No projects! Create one?</p>
                                <input class="pure-input-2-3" type="text" name="topic" placeholder="What do you want to write about?">
                                <button class="pure-button" type="submit">Start</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
