<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OmniThinker - Writer</title>
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/static/jquery.rte.js"></script>
        <script src="/static/omnithinker.js"></script>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/static/common.css">
    </head>
    <body class="write" style="max-width: 1000px; margin: 1em auto 0 auto;">
        <h2>Ben's Socket Test</h2>
        <div style="font-family: monospace;">
            <textarea id="textbox"></textarea>
            <div id="output" style="background-color:#DDD; padding: .5em; margin: 1em 0 1em 0; max-height: 400px; overflow: auto;"></div>
            <div id="options" style="background-color:#DDD; padding: .5em;">
                <input id="sendbox" type="text" />
                <a href="#" id="send">Send</a> &bull;
                <a href="#" id="disconnect">Disconnect</a>
            </div>
        </div>
    </body>
</html>
